@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>BRE Application</h3>
    <p class="lead">
        Business rules are created for payment types in PaymentActions table.<br />
        Each product has a payment type.<br />
        While creating the order PaymentAction is triggered.<br />
        Please create an order to see the BRE in action.<br />
       <b> Please have a keen sight on the database diagram.</b>
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="~/Content/Images/OrderProcessingBRE.JPG" />
    </div>    
</div>